.col{
    display: flex;
    flex-direction: row;
    background-color: rgb(180, 177, 177);

}
.mb-3{
    width: 50vh;
}
.form__main{
    margin-left: 10vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    
    
}
.form-label{
    padding-left: 1vh;
}
.form-control{
    height: 4.5vh;
    border: solid 2px;
    
}
.text__area{
    height: 3rem;
}
.placeholder__text{
    font-size: small;
    color: rgb(59, 59, 59);
}
.card__container{
    margin-left: 6rem;
    margin-top: 7rem;
    border-radius: 4%;
    border-color: black;
    
}
.input__description{
    height: 9vh;
}
*{
    font-family: fontProject;
}
