<div class="d-flex justify-content-center container__home ">

<app-table></app-table>

</div>


<!-- <table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">USER ID</th>
    <th scope="col" >ID </th>
    <th scope="col" >TITLE </th>
    <th scope="col">COMPLETED</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{ user.userId }}</td>
    <td>{{ user.id }}</td>
    <td>{{ user.title }}</td>
    <td>{{ user.completed }}</td>
  </tr>
  </tbody>
</table> -->

<!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">USER ID</th>
        <th scope="col">ID</th>
        <th scope="col">COMPLETED</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">1</th>
        <td>{{ user.userId }}</td>
        <td>{{ user.id }}</td>
        <td>{{ user.title }}</td>
        <td>{{ user.completed }}</td>
      </tr>
    </tbody>
  </table> --> -->