body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
app-footer{
   
    margin-top: auto;
}


@font-face {
    font-family:font-project ;
    src: url("./assets/prueba1.ttf");
}
@font-face {
    font-family:fontProject ;
    src: url("./assets/prueba3.ttf");
}
@font-face {
    font-family:fontProjectD ;
    src: url("./assets/prueba4.ttf");
}



*{
    font-family: frontProject;

}


html, body { height: 100%; }
body { margin: 0; font-family: fontProject; }
