<div>
    <div class="card card__container" style="max-width: 540px;">
        <div class="row g-0 p-3">
            <div class="col-md-4 ps-5 pt-3 ">
                <img src="../../../assets/Usuario-Vacio.png" class="img-fluid rounded-start pb-3" alt="profile image">
                <p class="card-text" *ngFor="let user of example">{{user.description}}</p>
            </div>
            <div class="col-md-8 ps-3">
                <div class="card-body">
                    <h5 class="card-title" *ngFor="let user of example">{{user.name}}</h5>
                    <p class="card-text" *ngFor="let user of example">{{user.surname}}</p>
                    <p class="card-text" *ngFor="let user of example">{{user.age}}</p>
                    <p class="card-text" *ngFor="let user of example">{{user.phone}}</p>
                    <p class="card-text" *ngFor="let user of example">{{user.email}}</p>
                    <p class="card-text" *ngFor="let user of example">{{user.description}}</p>

                </div>
            </div>
        </div>


    </div>
    <div class="alert alert-secondary alert__container " style="max-width: 540px;" role="alert">
       <img style="max-width: 50px;" src="../../../assets/heart.png" alt="">Thank you very much for your time! We will get back to you as soon as possible.

    </div>

</div>