<div class="footer__container">
    <h2 id="text__footer">Macarena Sotomayor Fernández-Ayuso</h2>

    <div class="icons__foot">

        <a href="https://www.linkedin.com/in/macarena-sotomayor-fern%C3%A1ndez-ayuso-332564237/" target="_blank"> <img
                src="assets/logoLinkW.png" alt="linknd img" />
        </a>

        <a href="https://github.com/Macaeco" target="_blank"> <img class="github__icon"
                src="assets/githubicon.png" alt="github img" />
        </a>

        <a href="https://gitlab.com/macaeco" target="_blank"> <img class="gitlab__icon" src="assets/gitlab.png"
                alt="gitlab img" />
        </a>

    </div>




</div>